@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');

//font-family
$fzs-1: 'Noto Sans TC', sans-serif;
$fzs-2: 'Comfortaa', cursive;

//font-size
$fz-1: 1.2rem;
$fz-2: 1.4rem;
$fz-3: 1.6rem;
$fz-4: 1.8rem;
$fz-5: 2rem;
$fz-6: 2.4rem;
$fz-7: 2.8rem;
$fz-8: 3.2rem;
$fz-9: 4.8rem;

//font-weight
$fw-r: 400;
$fw-b: 700;

//color
$main-color: #56C4C5;
$black-color: #221E1F;
$gray-color: #747474;
$white-color: #fff;
$yellow-color: #F5CA52;
$red-color: #FF5D50;

//border-radius
$br-1: 1.2rem;
$br-2: 2.2rem;
$br-3: 2.7rem;

//lineheight
$lh-1: 1.5;
$lh-2: 2;

//padding & margin size
$sz-1: 0.8rem;
$sz-2: 1rem;
$sz-3: 1.2rem;
$sz-4: 1.6rem;
$sz-5: 1.8rem;
$sz-6: 2rem;
$sz-7: 2.4rem;
$sz-8: 2.7rem;
$sz-9: 2.8rem;
$sz-10: 3.2rem;
$sz-11: 3.5rem;
$sz-12: 4.8rem;
$sz-13: 6rem;
$sz-14: 7.2rem;
$sz-15: 10rem;